# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo,
# and will automatically be added as reviewers to all pull requests.
*       @pomianowski
